<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Bombo CakeShop</title>
    <link ref="stylesheet" href="https://unpkg.com/swiper@8.4.4/swiper-bundle.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js">
    <link rel="stylesheet" type="text/css" href="D:\CakeShop\css\style.css">
    
    <header class="header">
        <a href="#" class="logo" style="text-decoration: none;"> <i class="fas fa-birthday-cake"></i>Bombo CakeShop </a>
       <nav class="navbar">
           <a href="index.html" style="text-decoration: none;">Acasă</a>
           <a href="about.html" style="text-decoration: none;">Despre noi</a>
           <div class="dropdown">
             <a href="categories.html" style="text-decoration: none;">Categorii</a>
               <div class="dropdown-content">
                 <a href="prajituri.html">prajituri</a>
                 <a href="torturi.html">torturi</a>
                 <a href="patiserie.html">patiserie</a>
                 <a href="candy.html">candy bar</a>
                 <a href="platouri.html">platouri</a>
                 <a href="inghetata.html">înghețată</a>
                </div>
             </div>
            
           <a href="gallery.html" style="text-decoration: none;">Galerie</a>
           <a href="team.html" style="text-decoration: none;">Echipă</a>
           <a href="review.html" style="text-decoration: none;">Recenzii</a>
          
      </nav>
   
      <div class="icons">
       <div id="cart-btn" class="fas fa-shopping-cart"></div>
       <div id="menu-btn" class="fas fa-bars"></div>
       <div id="user" class="fas fa-user"></div>
      </div>
   </header> 
   <title>Despre noi</title>
</head>
<body>
  <div class="wrapper">
    <div class="testimonial">
      <article>
        <h1>povestea noastră</h1><br>
        <img src="images/cakeshopLogo.png">
        <blockquote>
          Am debutat in anul 2010, cu fabricarea produselor de patiserie.
In spatiul mic, de altadata, situat pe Soseaua Branului, clientii erau   intampinati de mirosul imbietor al strudelelor si merdenelelor aburinde, al buseurilor aurii sau de parfumul cozonacilor gata scosi din cuptor.
Datorita parerilor pozitive primite din partea clientilor multumiti de calitatea produselor de patiserie, am decis ca în anul 2012 sa ne extindem activitatea prin fabricarea si comercializarea produselor de cofetarie.

Am oferit clientilor prajiturile traditionale, precum amandina, savarina si eclerul, toate lucrate cu pricepere si maiestrie, folosind materii prime naturale de cea mai buna calitate.
Diversificarea activitatii a continuat si in anii urmatori, iar începând din anul 2015, am dezvoltat o linie pentru fabricarea inghetatei. Bazandu-ne pe folosirea unor retete traditionale, puse in aplicare de un tehnolog, am reusit crearea unei inghetate delicioase cu diferite arome naturale de fructe sau ciocolata.
In prezent, Cofetaria Bombo dispune de 3 laboratoare proprii, de cofetarie, patiserie si inghetata, precum si de un punct de desfacere.
Intrucat deviza Cofetariei Bombo este “Creat cu pasiune” ne propunem sa imbunatatim in permanenta calitatea si sa diversificam cat mai mult gama de produse pentru a satisface si cele mai exigente gusturi.
        </blockquote>
      </article>
    </div>
  </div>
  
</body>